@import "tailwindcss";
@import "locomotive-scroll/dist/locomotive-scroll.css";



html {
  scroll-behavior: smooth;
margin: 0;
padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  color: #111;
   font-family: var(--font-inconsolata);
        padding-top: 0;
             padding-bottom: 0;
     padding-left: 10;
   padding-right: 10;
   margin: 0;


}

a {
  text-decoration: none;
  color: inherit;
   
}
