@import "tailwindcss";



html {
  scroll-behavior: smooth;
margin: 0;
padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  color: #111;
   font-family: var(--font-inconsolata);
      margin-left: 10;
   margin-right: 10;
   margin-top: 15;
   margin-bottom: 15;
padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
   
}
